<footer>
	<div class="container">
		<div class="text-center footer-text hidden-print">
			<p>© <a href="mailto:laetitia.stucki@gmail.com">Lætitia Stucki</a> — Webmaster <a href="mailto:nicolas.jeanmonod@bluewin.ch">Nicolas Jeanmonod</a> — <a href="{{ site.data.infos.facebook.fb-url }}"><i class="fa fa-facebook-square"></i></a></p>
		</div>
		<div class="text-center footer-text hidden-screen">
			<p>Lætitia Stucki ⋅ Grand-Rue 26 ⋅ CH–1345 Le Lieu ⋅ Suisse<br/>
			<i class="fa fa-envelope"></i> laetitia.stucki@gmail.com &nbsp;&nbsp;&nbsp; <i class="fa fa-mobile"></i> +41 79 326 30 64</p>
		</div>
	</div>
</footer>
<script type="text/javascript" src="{{ thisbaseurl }}assets/js/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="{{ thisbaseurl }}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ thisbaseurl }}assets/js/mousetrap-1.5.3.min.js"></script>
<script type="text/javascript" src="{{ thisbaseurl }}assets/js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="{{ thisbaseurl }}assets/js/main.js"></script>
<script>document.write('<script src="//sharebutton.net/plugin/sharebutton.php?type=horizontal&u=' + encodeURIComponent(document.location.href) + '"></scr' + 'ipt>');</script>