{% comment %}
<!--
Count the pages that have a `title`.
and put their indexes in idArray.
-->
{% endcomment %}

{% assign NbPages = 0 %}
{% assign idStringArray = "" %}
{% assign pageID = 0 %}

{% for thispage in site.pages %}
	{% if thispage.title %}
		{% unless thispage.not_in_prev_next %}
			{% assign NbPages = NbPages | plus: 1 %}
			{% assign idStringArray = idStringArray | append:pageID | append:"," %}
		{% endunless %}
	{% endif %}
	{% assign pageID = pageID | plus: 1 %}
{% endfor %}

{% assign idArray = idStringArray | split:"," %}



{% comment %}
<!--
Find the index of the current page in idArray.
-->
{% endcomment %}

{% assign PageID = 0 %}
{% assign idArrayCounter = 0 %}
{% for thisID in idArray %}
	{% assign PageID = thisID | plus: 0 %}
	{% if site.pages[PageID].url == page.url %}
		{% break %}
	{% else %}
		{% assign idArrayCounter = idArrayCounter | plus: 1 %}
	{% endif %}
{% endfor %}



{% comment %}
<!-- Get the previous and the next page. -->
{% endcomment %}

{% assign PrevPageID = idArrayCounter | plus: -1 | modulo: NbPages %}
{% assign PrevPageID = idArray[PrevPageID] | plus: 0 %}

{% assign NextPageID = idArrayCounter | plus:  1 | modulo: NbPages %}
{% assign NextPageID = idArray[NextPageID] | plus: 0  %}

{% assign PrevPage = site.pages[PrevPageID] %}
{% assign ThisPage = site.pages[PageID] %}
{% assign NextPage = site.pages[NextPageID] %}

		<div class="btn-prev-next text-center">
			<a class="btn btn-primary bouton-prec" title="{{ PrevPage.title }}" href="{{ thisbaseurl }}{{ PrevPage.url }}" role="button"><i class="fa fa-chevron-circle-left"></i></a>

			<span>&nbsp;</span>

			<a class="btn btn-primary" title="Retour à l’accueil" href="{{ thisbaseurl }}/" role="button">
				<img src="{{ thisbaseurl }}{{ site.data.infos.images.logo }}" alt="..." />
			</a>

			<span>&nbsp;</span>

			<a class="btn btn-primary bouton-suiv" title="{{ NextPage.title }}" href="{{ thisbaseurl }}{{ NextPage.url }}" role="button"><i class="fa fa-chevron-circle-right"></i></a>
		</div>